# ignore everything...
**

# ...except these files/folders...
!/aiven.io_ca.pem

# ...but always ignore these files even beneath included folders
## system-specific temp, backup, thumbnail etc. files
**/.~lock*
**/*.backup
**/~$*
**/.DS_Store
**/Thumbs.db
